{{ partial "header" . }}

  <h1 id="contact-title" class="border-bottom">Get in touch with us</h1>
  <form id="contact-form" onsubmit="contactFunction()">
    <label for="name-input">Name</label>
    <input type="text" name="nameInput" id="name-input" placeholder="Your Name (required)" required>
    <label for="email-input">Email</label>
    <input type="email" name="emailInput" id="email-input" placeholder="Your E-mail (required)" required>
    <label for="message-input">Message</label>
    <input type="text" name="messageInput" id="message-input" placeholder="Your Message" required>
    <input type="submit" id="input-submit">
  </form>

<script>
    function parseURLParams(url) {
        var queryStart = url.indexOf("?") + 1,
            queryEnd   = url.indexOf("#") + 1 || url.length + 1,
            query = url.slice(queryStart, queryEnd - 1),
            pairs = query.replace(/\+/g, " ").split("&"),
            parms = {}, i, n, v, nv;

        if (query === url || query === "") return;

        for (i = 0; i < pairs.length; i++) {
            nv = pairs[i].split("=", 2);
            n = decodeURIComponent(nv[0]);
            v = decodeURIComponent(nv[1]);

            if (!parms.hasOwnProperty(n)) parms[n] = [];
            parms[n].push(nv.length === 2 ? v : null);
        }
        return parms;
    }
    if (window.location.href.indexOf("?") != -1) {
    var contactData = parseURLParams(window.location.href);
    var contactEmail = contactData.emailInput;
    var contactName = contactData.nameInput;
    var contactMessage = contactData.messageInput;

        Email.send({
            Host : "smtp.elasticemail.com",
            Username : "connor@turbojones.com",
            Password : "3978b1ef-cbe9-49bb-be0f-9541b532cf62",
            To : 'connor@turbojones.com',
            From : "connor@turbojones.com",
            Subject : "SoftwareLore contact form",
            Body : contactName + "<br>" + contactMessage + "<br>" + contactEmail
        }).then(
            message => alert(message)
        );
    }
</script>
{{ partial "footer" . }}