.title-box {
    margin-bottom: .67em;
}
#article-title {
    margin-bottom: 0;
    margin-top: .67em;
    padding-bottom: .2em;
}
#article-sub-title {
    display: block;
    text-align: center;
    margin-bottom: 50px;
    
}
#table-of-contents {
    margin: 1em 0;
    background-color: #172b22;
    nav {
        width: 100%;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                padding: .5em;
                ul {
                    a {
                        color: #fff;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .first-list {
        padding: 0;
    }
    .flex-list {
        display: flex;
        flex-wrap: wrap;
    }
    .inline-list {
        position: relative;
        min-height: 265px;
        vertical-align: top;
        display: inline-block;
        width: 20%;
        min-width: 200px;
        box-sizing: border-box;
        background-color: #09c372;
        border: 5px solid #172b22;
        z-index: 1;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 2.4em;
            background-color: #07a15e;
            z-index: -1;
        }
        >a {
            margin-bottom: 10px;
            display: block;
        }
    }
}
.content-article {
    header {
        margin: 0 auto;
        background-color: #0e1215;
        .post-video {
            max-width: 1000px;
        }
    }
}
footer {
    border-top: 2px dashed #2e2a35;
    padding-top: 50px;
    margin-top: 60px;
}

// Mobile
@media screen and (max-width: 1024px) {

}