body {
  overflow-x: hidden; }

footer {
  margin-top: 80px;
  width: 100%; }

:root {
  --sl-color: #16a191; }

#main-nav.sidenav {
  position: relative; }

#logo {
  margin-right: 15px;
  height: 70px;
  width: 70px;
  background: #2aa88a;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #2aa88a 1%, #009999 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #2aa88a 1%, #009999 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #2aa88a 1%, #009999 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa88a', endColorstr='#009999',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  transition: background .5s ease-out;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  #logo .logo-icon {
    font-size: 1.2em;
    background-image: url("../images/Icon-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 40px; }
  #logo span {
    font-size: 11px;
    color: #fff;
    text-decoration: none; }
  #logo:hover {
    background: #ce8210; }

.nav-item-wrapper {
  height: 70px;
  display: flex;
  flex-direction: row;
  overflow: hidden; }

.nav-item {
  display: inline-block;
  color: #fff;
  padding: 22px 20px; }

.brightness-setting {
  position: absolute;
  right: 0;
  margin-left: auto;
  height: 70px;
  width: 70px;
  background-color: #12181b;
  cursor: pointer;
  border: none;
  transition: background .5s ease-out;
  line-height: 1; }
  .brightness-setting:hover .tag {
    opacity: 1;
    top: 105%;
    transform: scale(1); }
  .brightness-setting .brightness-icon {
    font-size: 2em; }
  .brightness-setting .tag {
    opacity: 0;
    transform: scale(0);
    position: absolute;
    top: 30%;
    right: 0;
    background: black;
    border-radius: 3px;
    color: #fff;
    transition: opacity .3s ease-out, top .3s ease-out, transform .3s ease-out;
    pointer-events: none; }

#home-top-section {
  margin: 3em 2em; }

#search {
  position: relative;
  margin: 1em 0; }
  #search .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-size: 1.5em;
    z-index: 3; }
  #search label {
    font-size: 0; }
  #search input {
    width: 90%;
    box-sizing: border-box;
    background-color: var(--nav-bg);
    border: none;
    border-radius: 7px;
    font-family: "ratio", sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px 10px 5px 60px;
    color: #fff;
    margin: 0;
    z-index: 2; }

.topnav {
  display: none; }

#home-top-right {
  display: flex;
  justify-content: center; }

.category-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column; }
  .category-wrapper:hover .category-button {
    index: 0; }
  .category-wrapper .row {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0; }
    .category-wrapper .row:first-of-type {
      margin-bottom: 3em; }
  .category-wrapper .category-button {
    position: relative;
    bottom: 0;
    display: inline-block;
    margin: 0 1.5em;
    cursor: pointer; }
    .category-wrapper .category-button:hover .outer-box {
      bottom: 50px;
      box-shadow: 0 55px 5px rgba(0, 0, 0, 0.1);
      transform: scale(1.1); }
      .category-wrapper .category-button:hover .outer-box:after {
        opacity: .2; }
    .category-wrapper .category-button .inner-box, .category-wrapper .category-button .outer-box {
      bottom: 0;
      background-color: #333;
      color: #fff;
      font-weight: bold;
      width: 7em;
      height: 7em;
      border-radius: 7px;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
      transition: bottom .5s ease-out, box-shadow .5s ease-out, transform .5s ease-out;
      z-index: 0; }
    .category-wrapper .category-button .outer-box {
      position: absolute;
      transform: scale(1);
      overflow: hidden;
      z-index: 1;
      background-image: url("../images/img.png");
      background-size: cover; }
      .category-wrapper .category-button .outer-box:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0;
        transition: opacity .5s ease-out;
        z-index: 5; }
      .category-wrapper .category-button .outer-box:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #333;
        opacity: .9; }
    .category-wrapper .category-button .inner-box {
      padding-top: 72%;
      box-sizing: border-box;
      text-align: center;
      vertical-align: bottom;
      background-color: #12181b; }
  .category-wrapper .category-icon {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display: block;
    font-size: 3.5em;
    text-align: center;
    z-index: 4; }

main {
  margin: 0; }

.host-picture {
  border-radius: 25px;
  max-height: 250px; }

#mobile-menu {
  display: none; }

.backwards-bio {
  text-align: right; }

.bio-block {
  margin: 2em 0; }

#team-title {
  display: block;
  font-size: 2.8em;
  border-bottom: 3px dashed #333;
  padding-bottom: .67em;
  padding-left: 10%; }

.pet-wrapper {
  display: block; }

#pet-button {
  cursor: pointer;
  display: inline-block;
  border-radius: 0 0 0 25px;
  padding: 10px 15px;
  color: #fff;
  font-size: 1.2em;
  margin-right: 10px;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.58);
  border: none;
  font-family: "ratio", sans-serif;
  font-weight: bold;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite; }

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }
@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }
@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }
@keyframes rainbow {
  0% {
    background-position: 0% 82%; }
  50% {
    background-position: 100% 19%; }
  100% {
    background-position: 0% 82%; } }
.stark-picture {
  position: relative; }

#pet-hand {
  position: absolute;
  top: 0;
  opacity: 0;
  margin: 0 auto;
  font-size: 3.5em;
  transform: rotate(110deg);
  padding-top: 49px;
  z-index: 11; }

.animate-hand {
  animation: pet 3s ease 1; }

@keyframes pet {
  0% {
    top: 0;
    opacity: 0; }
  25% {
    top: 16%;
    opacity: 1; }
  35% {
    top: 6%;
    opacity: 1; }
  45% {
    top: 16%;
    opacity: 1; }
  55% {
    top: 6%;
    opacity: 1; }
  65% {
    top: 16%;
    opacity: 1; }
  75% {
    top: 6%;
    opacity: 1; }
  100% {
    top: 0;
    opacity: 0; } }
#contact-title {
  text-align: center;
  font-size: 2.8em;
  padding-bottom: .67em; }

#contact-form {
  display: block;
  margin: 0 auto 50px;
  max-width: 800px;
  font-size: 0;
  box-sizing: border-box; }

label {
  font-size: 0; }

input {
  display: inline-block;
  box-sizing: border-box;
  background: none;
  border: none;
  border-bottom: 1px solid #333;
  font-family: "ratio", sans-serif;
  font-size: 18px;
  padding: 25px 15px;
  color: #fff;
  width: 49%; }

#email-input {
  margin-left: 2%; }

#message-input {
  display: block;
  width: 100%;
  margin-top: 20px; }

#input-submit {
  position: relative;
  top: 0;
  display: block;
  margin: 0 auto;
  background-color: #2a2e35;
  margin-top: 50px;
  border-radius: 0 0 0 25px;
  font-size: 25px;
  padding: 20px;
  box-shadow: 0 4px 10px -3px #010101;
  transition: box-shadow .3s ease-out, top .3s ease-out, background .3s ease-out;
  cursor: pointer; }
  #input-submit:hover {
    top: 4px;
    box-shadow: 0 0 10px -3px #010101;
    background-color: #1c1f23; }

.title-box {
  margin-bottom: .67em; }

#article-title {
  margin-bottom: 0;
  margin-top: .67em;
  padding-bottom: .2em; }

#article-sub-title {
  display: block;
  text-align: center;
  margin-bottom: 50px; }

#table-of-contents {
  margin: 1em 0;
  background-color: #172b22; }
  #table-of-contents nav {
    width: 100%; }
    #table-of-contents nav ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      #table-of-contents nav ul li {
        padding: .5em; }
        #table-of-contents nav ul li ul a {
          color: #fff;
          text-decoration: underline; }
  #table-of-contents .first-list {
    padding: 0; }
  #table-of-contents .flex-list {
    display: flex;
    flex-wrap: wrap; }
  #table-of-contents .inline-list {
    position: relative;
    min-height: 265px;
    vertical-align: top;
    display: inline-block;
    width: 20%;
    min-width: 200px;
    box-sizing: border-box;
    background-color: #09c372;
    border: 5px solid #172b22;
    z-index: 1; }
    #table-of-contents .inline-list:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 2.4em;
      background-color: #07a15e;
      z-index: -1; }
    #table-of-contents .inline-list > a {
      margin-bottom: 10px;
      display: block; }

.content-article header {
  margin: 0 auto;
  background-color: #0e1215; }
  .content-article header .post-video {
    max-width: 1000px; }

footer {
  border-top: 2px dashed #2e2a35;
  padding-top: 50px;
  margin-top: 60px; }

#article-list {
  display: flex;
  max-width: 1720px;
  box-sizing: border-box;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap; }

.article-box {
  display: block;
  position: relative;
  bottom: 0;
  max-width: 720px;
  margin: 1em auto;
  text-align: center;
  background-color: var(--nav-bg);
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: bottom .3s ease-out, box-shadow .3s ease-out; }
  .article-box:hover {
    bottom: 5px;
    box-shadow: 0 9px 8px rgba(0, 0, 0, 0.4); }
  .article-box .article-image {
    display: block;
    background-color: #12181b;
    width: 100%; }
  .article-box .post-title {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin: 1em auto .2em;
    padding: 0; }
    .article-box .post-title a {
      color: #fff; }
  .article-box .post-details {
    margin-bottom: 12px;
    color: var(--text-color); }
  .article-box .post-description {
    color: var(--text-color); }
  .article-box .article-button {
    display: block;
    width: 100%;
    margin-top: 25px; }
    .article-box .article-button .read-more {
      display: block;
      position: relative;
      bottom: 0;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
      width: 100%;
      padding: 10px 0;
      background-color: var(--sl-color);
      border-radius: 3px;
      color: #fff;
      text-decoration: none;
      transition: bottom .3s ease-out, box-shadow .3s ease-out; }
      .article-box .article-button .read-more:hover {
        bottom: 5px;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4); }

#TableOfContents li {
  padding-left: 20px;
  padding-right: 20px; }
#TableOfContents .title {
  font-weight: bold;
  color: #fff;
  font-size: 2em;
  padding: 20px 10px 10px 10px; }
#TableOfContents strong {
  color: #fff; }
#TableOfContents .link-button {
  margin-bottom: 5px; }
  #TableOfContents .link-button a {
    display: block;
    text-align: center;
    font-size: 20px;
    position: relative;
    bottom: 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 10px 0;
    background-color: var(--sl-color);
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    transition: bottom .3s ease-out, box-shadow .3s ease-out; }
    #TableOfContents .link-button a:hover {
      bottom: 2px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4); }
#TableOfContents .summary {
  margin-bottom: 25px; }

@media screen and (max-width: 1024px) {
  #home-top-section {
    margin-top: 5em; }
    #home-top-section h1 {
      margin: 0; }
    #home-top-section p {
      margin: .2em 0 .67em; }
    #home-top-section #search {
      margin: 0; }
      #home-top-section #search input {
        margin: 0 auto;
        font-size: 18px; }

  .category-wrapper .category-button {
    margin-top: 60px; }
    .category-wrapper .category-button .outer-box {
      bottom: 50px;
      box-shadow: 0 55px 5px rgba(0, 0, 0, 0.1);
      transform: scale(1.1); }

  .nav-item {
    font-size: 18px; } }
@media screen and (max-width: 991px) {
  #home-top-right {
    margin-top: 3em; }

  .category-wrapper {
    width: 100%; }
    .category-wrapper > .row {
      justify-content: space-around; } }
@media screen and (max-width: 768px) {
  #team-title {
    padding-left: 0;
    text-align: center; }

  #pet-button {
    display: block;
    margin: 0 auto; }

  .pet-wrapper span {
    display: block;
    margin: 25px 0;
    text-align: center; }

  #contact-title {
    font-size: 2em;
    margin-bottom: 0; }

  #contact-form {
    margin-top: 0; }

  input {
    display: block;
    width: 100%;
    margin: 10px 0 0 0; }

  #email-input {
    margin-left: 0; }

  #message-input {
    margin-top: 10px; }

  #input-submit {
    margin-top: 40px;
    padding: 16px; }

  #mobile-menu {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 70px;
    width: 100%;
    background-color: #20252d; }
    #mobile-menu .click-listener {
      position: absolute;
      top: 0;
      right: 0;
      height: 70px;
      width: 70px;
      z-index: 10; }
    #mobile-menu .hamburger {
      position: relative;
      display: block;
      background-color: #2aa88a;
      width: 40px;
      height: 5px;
      margin-left: auto;
      margin-right: 15px;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      z-index: 9; }
      #mobile-menu .hamburger:after, #mobile-menu .hamburger:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        height: 5px;
        background-color: #2aa88a; }
      #mobile-menu .hamburger:after {
        top: 12px;
        width: 35px; }
      #mobile-menu .hamburger:before {
        bottom: 12px;
        width: 30px; }

  #main-nav {
    position: relative;
    visibility: visible;
    flex-direction: column;
    align-items: flex-end;
    max-width: 100vw;
    background: none;
    box-shadow: none; }
    #main-nav.active .nav-item, #main-nav.active .brightness-setting {
      right: 0; }
    #main-nav #logo {
      margin-right: auto;
      z-index: 10; }
    #main-nav .nav-item-wrapper {
      width: 100%;
      position: absolute;
      top: 100%;
      pointer-events: none;
      height: initial;
      display: flex;
      flex-direction: column; }
    #main-nav .nav-item, #main-nav .brightness-setting {
      position: relative;
      display: block;
      width: 100%;
      transform-origin: right;
      transition: transform .5s ease-out, right .5s ease-out;
      -webkit-transition: transform .5s ease-out, right .5s ease-out;
      right: -100%;
      height: 70px;
      padding: 22px 20px;
      text-align: right;
      box-sizing: border-box;
      background: var(--nav-bg);
      pointer-events: all; }
      #main-nav .nav-item:nth-of-type(even), #main-nav .brightness-setting:nth-of-type(even) {
        background-color: #20252d; }

  #home-top-section {
    margin: 3em 1em 3em 1em; }

  .category-wrapper .category-button .inner-box, .category-wrapper .category-button .outer-box {
    width: 15vw;
    height: 15vw;
    min-width: 5em;
    min-height: 5em; }
    .category-wrapper .category-button .inner-box .category-icon, .category-wrapper .category-button .outer-box .category-icon {
      font-size: 2em; } }

/*# sourceMappingURL=custom-style.css.map */
