{{ partial "header" . }}

  <h2 id="team-title">The SoftwareLore Team</h2>

  <div class="row row-home bio-block">
    <div class="col-xs-12 col-sm-4 flex-center">
      <a href="/about-us/"
        ><img
          class="host-picture"
          src="../images/Profile.jpg" onerror="this.onerror=null; this.src='/images/Profile.jpg'"
          alt="Austin Jones Creator"
      /></a>
    </div>
    <div class="col-xs-12 col-sm-8">
      <h2>
        <i><svg aria-hidden="true" data-prefix="fas" data-icon="microphone-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" class="svgmicrophone-alt  "><path fill="currentColor" d="M336 192h-16c-8.84 0-16 7.16-16 16v48c0 74.8-64.49 134.82-140.79 127.38C96.71 376.89 48 317.11 48 250.3V208c0-8.84-7.16-16-16-16H16c-8.84 0-16 7.16-16 16v40.16c0 89.64 63.97 169.55 152 181.69V464H96c-8.84 0-16 7.16-16 16v16c0 8.84 7.16 16 16 16h160c8.84 0 16-7.16 16-16v-16c0-8.84-7.16-16-16-16h-56v-33.77C285.71 418.47 352 344.9 352 256v-48c0-8.84-7.16-16-16-16zM176 352c53.02 0 96-42.98 96-96h-85.33c-5.89 0-10.67-3.58-10.67-8v-16c0-4.42 4.78-8 10.67-8H272v-32h-85.33c-5.89 0-10.67-3.58-10.67-8v-16c0-4.42 4.78-8 10.67-8H272v-32h-85.33c-5.89 0-10.67-3.58-10.67-8v-16c0-4.42 4.78-8 10.67-8H272c0-53.02-42.98-96-96-96S80 42.98 80 96v160c0 53.02 42.98 96 96 96z" ></path></svg></i> 
        Lead Developer
      </h2>
      <p>
        Hi, I'm <strong>Austin Jones</strong> and I created this project to help people build and ship high-quality
        apps. My mission is simple 👉 produce practical
        content that <strong>increases developer happiness and productivity</strong> 🚀. 
      </p>
    </div>
  </div>


  <div class="row row-home bio-block">
    <div class="col-xs-12 col-sm-4 flex-center">
      <a href="/about-us/"
        ><img
          class="host-picture"
          src="../images/Connor.jpg" onerror="this.onerror=null; this.src='/images/Profile.jpg'"
          alt="Austin Jones Creator"
      /></a>
    </div>
    <div class="col-xs-12 col-sm-8">
      <h2>
        <i><svg aria-hidden="true" data-prefix="fas" data-icon="microphone-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" class="svgmicrophone-alt  "><path fill="currentColor" d="M336 192h-16c-8.84 0-16 7.16-16 16v48c0 74.8-64.49 134.82-140.79 127.38C96.71 376.89 48 317.11 48 250.3V208c0-8.84-7.16-16-16-16H16c-8.84 0-16 7.16-16 16v40.16c0 89.64 63.97 169.55 152 181.69V464H96c-8.84 0-16 7.16-16 16v16c0 8.84 7.16 16 16 16h160c8.84 0 16-7.16 16-16v-16c0-8.84-7.16-16-16-16h-56v-33.77C285.71 418.47 352 344.9 352 256v-48c0-8.84-7.16-16-16-16zM176 352c53.02 0 96-42.98 96-96h-85.33c-5.89 0-10.67-3.58-10.67-8v-16c0-4.42 4.78-8 10.67-8H272v-32h-85.33c-5.89 0-10.67-3.58-10.67-8v-16c0-4.42 4.78-8 10.67-8H272v-32h-85.33c-5.89 0-10.67-3.58-10.67-8v-16c0-4.42 4.78-8 10.67-8H272c0-53.02-42.98-96-96-96S80 42.98 80 96v160c0 53.02 42.98 96 96 96z" ></path></svg></i> 
        Lead Designer
      </h2>
      <p>
        Howdy, my name is <strong>Connor Jones</strong>. I'm responsible for making SoftwareLore look pretty.
        I also handle a lot of the front end code here on the site.
        <strong>I hope you enjoy our articles, and don't forget to pet stark</strong> 👇. 
      </p>
    </div>
    
  </div>


  <div class="row row-home bio-block">
    <div class="col-xs-12 col-sm-4 flex-center stark-picture">
      <div id="pet-hand">🤚</div>
      <a href="/about-us/"
        ><img
          class="host-picture"
          src="../images/Stark.jpg" onerror="this.onerror=null; this.src='/images/Profile.jpg'"
          alt="Austin Jones Creator"
      /></a>
    </div>
    <div class="col-xs-12 col-sm-8">
      <h2>
        <i><svg aria-hidden="true" data-prefix="fas" data-icon="microphone-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" class="svgmicrophone-alt  "><path fill="currentColor" d="M336 192h-16c-8.84 0-16 7.16-16 16v48c0 74.8-64.49 134.82-140.79 127.38C96.71 376.89 48 317.11 48 250.3V208c0-8.84-7.16-16-16-16H16c-8.84 0-16 7.16-16 16v40.16c0 89.64 63.97 169.55 152 181.69V464H96c-8.84 0-16 7.16-16 16v16c0 8.84 7.16 16 16 16h160c8.84 0 16-7.16 16-16v-16c0-8.84-7.16-16-16-16h-56v-33.77C285.71 418.47 352 344.9 352 256v-48c0-8.84-7.16-16-16-16zM176 352c53.02 0 96-42.98 96-96h-85.33c-5.89 0-10.67-3.58-10.67-8v-16c0-4.42 4.78-8 10.67-8H272v-32h-85.33c-5.89 0-10.67-3.58-10.67-8v-16c0-4.42 4.78-8 10.67-8H272v-32h-85.33c-5.89 0-10.67-3.58-10.67-8v-16c0-4.42 4.78-8 10.67-8H272c0-53.02-42.98-96-96-96S80 42.98 80 96v160c0 53.02 42.98 96 96 96z" ></path></svg></i> 
        Public Relations/Moral Support
      </h2>
      <p>
        Hi, I'm <strong>Stark</strong> and I keep the team happy while they develop and write for SoftwareLore.io. 
        <strong>My skills include being fluffy and barking at the doorbell.</strong> Make sure to check out some 
        software reviews while you're here!
        <div class="pet-wrapper">
          <button id="pet-button">Click to Give Stark Pets</button> <span>Pets Counter: #</span>
        </div>
      </p>
    </div>
  </div>
  <script>
    document.getElementById("pet-button").addEventListener("click", function() {
        console.log("click");
        if (document.getElementById("pet-hand").classList.contains("animate-hand") == true) {
            // do nothing
            console.log("do nothing");
            return;
        } else {
            document.getElementById("pet-hand").classList.add("animate-hand");
            console.log("add class");
            setTimeout(function() {
                document.getElementById("pet-hand").classList.remove("animate-hand");
                console.log("remove class");
            }, 3000);

        }
    });
  </script>

      
{{ partial "footer" . }}