
{{ partial "header" }}
      
<!-- Top Section -->

<div id="home-top-section" class="row">
    <div class="col-xs-12 col-md-6" style="justify-content: space-between; display: flex; flex-direction: column;">
        <h1>The best software 💾 reviews 📡 on the web</h1>
        <p class="text-lg">
            Check out this weeks top <strong class="text-contrast">4</strong> most popular article
            over on the right side of your screen
            <strong class="text-contrast">Hover over any of the 4 buttons --></strong>      
            
        </p>

        <div id="search" class="tipue_search_group">
            <div class="search-icon">🔍</div>
            <label for="search">Search Bar</label>
            <input type="text" name="search" id="tipue_search_input" placeholder="Search Reviews...">
        </div>
    </div>
  <div id="home-top-right" class="col-xs-12 col-md-6">
    <div class="category-wrapper">
        <div class="row">
            <!-- <div class="category-button">
                <span class="category-icon">💼</span>
                <div class="expand-box">
                    <span class="category-name">Category</span>
                </div>
            </div> -->
            <div class="category-button">
                <div class="outer-box">
                    <span class="category-icon">💾</span>
                </div>
                <div class="inner-box">
                    <span class="category-name">Category</span>
                </div>
            </div>
            <div class="category-button">
                <div class="outer-box">
                    <span class="category-icon">📡</span>
                </div>
                <div class="inner-box">
                    <span class="category-name">Category</span>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="category-button">
                <div class="outer-box">
                    <span class="category-icon">💼</span>
                </div>
                <div class="inner-box">
                    <span class="category-name">Category</span>
                </div>
            </div>
            <div class="category-button">
                <div class="outer-box">
                    <span class="category-icon">🔍</span>
                </div>
                <div class="inner-box">
                    <span class="category-name">Category</span>
                </div>
            </div>
        </div>
    </div>
  </div>
  
</div>

{{ partial "footer" }}